[submodule "makestuff"]
	path = makestuff
	url = https://github.com/dushoff/makestuff.git
[submodule "Lectures"]
	path = Lectures
	url = https://github.com/Bio1M/Lectures.git
[submodule "1M"]
	path = 1M
	url = https://github.com/Bio1M/1M.git
[submodule "images"]
	path = images
	url = https://github.com/Bio1M/images.git
[submodule "Bio1M.github.io/makestuff"]
	path = Bio1M.github.io/makestuff
	url = https://github.com/dushoff/makestuff.git
