[submodule "makestuff"]
	path = makestuff
	url = https://github.com/dushoff/makestuff.git
[submodule "Lectures"]
	path = Lectures
	url = https://github.com/Bio1M/Lectures.git
[submodule "Archive"]
	path = Archive
	url = https://github.com/Bio1M/Archive.git
[submodule "1M_2017/makestuff"]
	path = 1M_2017/makestuff
	url = https://github.com/dushoff/makestuff.git
